
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap');

  
body{
  background-color: #cd9b7c;;
  margin: 0;
}ul {
  list-style-type: none;
  margin: 0;
  padding-top: 10px;
  padding-right: 20px;
  margin-top: none;
  overflow: hidden;
  background-color:#61331e;
   }

.li h2{
  margin-top: 6px;
  float: left;
  margin-left: 5px;
  size: 100px;
  font-style: italic;
  font-family: 'Dancing Script', 'cursive';
  color: #dfdfdf;
  margin-bottom: 20px;
}

.li li {
  float: right;
}

.li a {
  display: block;
  color: #f6f6f8;
  text-align: center;
  padding: 15px 40px;
  text-decoration: none;
}

li a:hover {
  background-color: #000000;
opacity: 0.4s;
border-radius: 7px;
color: rgb(3, 0, 162);
font-size: 17px;
padding-right: 45px;
}
li a::after{
  background-color: #f8f4f4;
  opacity: 0.5;
}
body{
  margin: 0;
  background-color: #a37254;
}
 .back{
  background: url(front.jpg);
  width: 100%;
  height:530px;

  
 }
 .front{
  background-color: #000000;
  opacity: 0.5;
  padding-bottom:164px;
  padding-top:100px;
 }
 .front h1{
  color: #ffffff;
  font-size: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
  .pokhara{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 15px;
  }
  .container {
    position: relative;
    margin-left:17%;
    margin-bottom: 100px;
    margin-top: 0px;
    box-shadow: 2px 4px 3px 0.5px  rgb(67, 66, 66);
    width: 67%;
    margin-right: 5px; 
  }
  
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #434c4f;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    opacity: 0.8;
  }
  
  .container:hover .overlay {
    height: 100%;
    
  }
  
  .text {
    white-space: nowrap; 
    color: rgb(234, 234, 234);
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
  }
  @media screen and (max-width: 600px) {
   
    body {
      background-image: linear-gradient(rgb(103, 75, 75),rgb(236, 236, 248));
      color: white;
      width: 100%;
    }
   
  }
  .pokharatext{
    color: white;
    text-align: center;
    font-size: 26px;
    position: relative;
  }
   div h3{
    text-align: center;
    
  }
  .topic h1{
     
      font-family: "Montserrat Medium";
      font-size: 50px;
      text-align: center;
      margin: 100px 30%;
      text-decoration: underline;
      font-family: 'Fredoka One', cursive;

  }
  .aboutnepal{
    margin-top: 15%;
  
  }
  .aboutnepal p{
    font-size: x-large;
    font-family:Arial, Helvetica, sans-serif;
  
  }
  .secondcontainer {
    position: relative;
    
    margin-left: 17%;
    margin-bottom: 100px;
    margin-top: 0px;
    box-shadow: 2px 4px 3px 0.5px  rgb(67, 66, 66); 
    width: 67%;
    margin-right: 5px;
  
    }
    
    .chitwan img{
    width: 100%;
    margin-bottom: 0%;
    }
   
  
    
    .secondcontainer:hover .overlaychit{
      height: 100%;
      
    }
    .overlaychit{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #434c4f;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    opacity: 0.8;
    }
    .chitwantext p{
      color: white;
      text-align: center;
      font-size: 26px;
      position: relative;
  
    }
    .thirdcontainer{
      position: relative;
     
      margin-left: 17%;
      margin-bottom: 100px;
      margin-top: 0px;
      box-shadow: 2px 4px 3px 0.5px  rgb(67, 66, 66);
      width: 67%;
      margin-right: 5px;
      
    }
    .overlayeve{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #434c4f;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    opacity: 0.8;
  
    }
    .thirdcontainer:hover .overlayeve{
      height: 100%;}
  .overlayeve p{
    color: white;
      text-align: center;
      font-size: 26px;
      position: relative;
  }
  
  .forthcontainer{
    position: relative;
    margin-left: 17%;
    margin-bottom: 100px;
    margin-top: 0px;
    box-shadow: 2px 4px 3px 0.5px  rgb(67, 66, 66);
    width:67%;
    margin-right: 5px;
  
  
  }
  .kathmandu img{
    width: 100%;
    margin-bottom: 0%;
  }
  
  .overktm{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #434c4f;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  opacity: 0.8;
  
  }
  .forthcontainer:hover .overktm{
    height: 100%;}
  .overktm p{
      color: white;
      text-align: center;
      font-size: 26px;
      position: relative;
  
    }
    .fifthcontainer{
    position: relative;
    margin-left: 17%;
    margin-bottom: 300px;
    margin-top: 0px;
    box-shadow: 2px 4px 3px 0.5px  rgb(67, 66, 66);
    width: 67%;
    margin-right: 5px;
    }
    .fifthcontainer
    .overlum{
    position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #434c4f;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  opacity: 0.8;
    }
    .fifthcontainer:hover .overlum{
      height: 100%;}
    .overlum p{
      color: white;
      text-align: center;
      font-size: 26px;
      position: relative;

    }
  .lumbini img{
    
    margin-bottom: 0%;
  }    /* animation text */
    
  h1 {
    font-family: "Montserrat Medium";
    max-width: 40ch;
    text-align: center;
    transform: scale(0.94);
    animation: scale 10s forwards cubic-bezier(0.5, 1, 0.89, 1);
    
  }
  
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
  
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in{
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
.footer{
  background-color: #24262b;
  padding-top:10px;
  margin: 0;
  text-align: center;
  padding-bottom: 1px;
  margin-top: 30px;
}
.footer p{
  color: white;
}
.footer h4{
  color: #9800a9;
}
.footer a{
  color: #CCD0E0;
}
.footer ul {
  background-color:#24262b ;
  padding-left: 15px;
}

.btn{
  margin-bottom: 10%;
  margin-left: 45%;
  

}
.btn button{
  cursor: grab;
  font-size:large;
  background-color: #03092e;
  color: white;
}
button:hover{
border-radius: 7px;
background-color: rgb(129, 123, 123);

}
.momo{
  border: 1px solid black;
  padding-bottom: 5px;
  padding-top: 10px;
  box-shadow: 2px 4px 3px 1px  rgb(67, 66, 66);
  border: 0.3 solid black;
  margin: 3px 5px;

  
}
.momo:hover{
  box-shadow: 4px 4px 1px 5px  rgb(35, 34, 34);
}
.momo img {
  width: 200px;
  height: 170px;
  float: left;
  margin-right: 4px;
  margin-left: 5px;
  
  
}


.momo p{
  font-size: larger;
  padding-bottom: 90px;}
  
.momo h3{
  text-align: left;
  margin-left: 20px;
}
.dhalbhat{
  border: 1px solid black;
  padding-bottom: 5px;
  padding-top: 5px;
  box-shadow: 2px 4px 3px 1px  rgb(67, 66, 66);
  border: none;
  margin: 3px 5px;}

  .dhalbhat:hover{
    box-shadow: 4px 4px 1px 5px  rgb(35, 34, 34);
  }


.dhalbhat img {
  width: 250px;
  height: 170px;
  float: left;
  margin-right: 4px;
  margin-left: 5px;
  
}

.dhalbhat h3{
  text-align: left;
  margin-left: 20px;
}
.dhalbhat p{
  font-size: larger;
  padding-bottom: 60px;
  
}

.Newarithali{
  border: 1px solid black;
  padding-bottom: 5px;
  padding-top: 5px;
  box-shadow: 2px 4px 3px 1px  rgb(67, 66, 66);
  border: none;
  margin: 3px 5px;}

  .Newarithali:hover{
    box-shadow: 4px 4px 1px 5px  rgb(35, 34, 34);
  }


.Newarithali img {
  width: 250px;
  height: 170px;
  float: left;
  margin-right: 4px;
  margin-left: 5px;
  
}

.Newarithali h3{
  text-align: left;
  margin-left: 20px;
  
}
.Newarithali p{
  font-size: larger;
  padding-bottom: 70px;
}
.content button{
  font-size: larger;
  background-color: #03092e;
  color: white;

}
.dhalbhat button{
  font-size: larger;
  color: white;
  background-color: #03092e;

}
.Newarithali button{
  font-size: larger; 
  background-color: #03092e;
  color: white;
}

.Dhindo{
 
  padding-bottom: 65px;
  padding-top: 5px;
  box-shadow: 2px 4px 3px 1px  rgb(67, 66, 66);
  border: none;
  margin: 3px 5px;}

  .Dhindo:hover{
    box-shadow: 4px 4px 1px 5px  rgb(35, 34, 34);
  }


.Dhindo img {
  width: 250px;
  height: 170px;
  float: left;
  margin-right: 4px;
  margin-left: 5px;
  
}

.Dhindo h3{
  text-align: left;
  margin-left: 20px;
}
.Dhindo p{
  font-size: larger;
  padding-bottom: 50px;
}
.Dhindo  button{

  font-size: larger;
  float: left;
  margin-top: 20px;
  margin-right: 80%;
  background-color: #03092e;
  color: white;
}
.selroti{
  border: 1px solid black;
  padding-bottom: 5px;
  padding-top: 5px;
  box-shadow: 2px 4px 3px 1px  rgb(67, 66, 66);
  border: none;
  margin: 3px 5px;}

  .selroti:hover{
    box-shadow: 4px 4px 1px 5px  rgb(35, 34, 34);
  }


.selroti img {
  width: 250px;
  height: 170px;
  float: left;
  margin-right: 4px;
  margin-left: 5px;
  
}

.selroti h3{
  text-align: left;
  margin-left: 20px;
}
.selroti p{
  font-size: larger;
  padding-bottom: 80px;
}
.selroti button{
  font-size: larger;
  color: white;
  background-color: #03092e;

}
.nepalicusine button:hover{
  background-color: #434c4f;
}
h3{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nepalicusine h1{ 
  padding-left: 10%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  ;
  font-size: 50px;

}
.Adventure{
  margin-top: 13%;
  border:none;
   
}
.Adventure h1{
  font-size: 70px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-bottom:100px;
  
}
.trekking {
  border:none;
  margin-left: 15%;
  margin-right: 290px;

}

.trekking p{
  text-align: left;
  font-size: x-large;

}
.trekking h4{
  font-size: xx-large;
  margin-bottom: 2px;
}
.trekking  h2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  ;
font-size: 40px;
float: left;
padding-bottom: 20px;
}
.paragliding video{
  margin-top: 10px;
}
.paragliding h2{
  padding-bottom: 10px;
padding-top: 20px;
font-size:40px
}
.Adventure button{
  font-size: x-large;
  margin-top: 5px;
  background-color: #03092e;
  color: rgb(255, 255, 255);
}
.Adventure button:hover{
  background-color: #434c4f;
}