@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap");

body {
  background: url(nepal.jpg);
  background-repeat: no-repeat;
  background-position: cover;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;

  /* background-image: linear-gradient(rgb(232, 239, 237),rgb(118, 118, 143)); */
}
ul {
  list-style-type: none;
  margin: 0;
  padding-top: 10px;
  padding-right: 20px;
  margin-top: none;
  overflow: hidden;
  background-color: #61331e;
}

.li h2 {
  margin-top: 6px;
  float: left;
  margin-left: 5px;
  size: 130px;
  font-style: italic;
  font-family: "Dancing Script", "cursive";
  color: #dfdfdf;
  margin-bottom: 20px;
}

.li li {
  float: right;
}

.li a {
  display: block;
  color: #f6f6f8;
  text-align: center;
  padding: 15px 40px;
  text-decoration: none;
}

li a:hover {
  background-color: #000000;
  opacity: 0.4s;
  border-radius: 7px;
  color: rgb(56, 255, 25);
  font-size: 17px;
  padding-right: 45px;
}
li a::after {
  background-color: #f8f4f4;
  opacity: 0.5;
}
.animation {
  margin-top: none;
  border: none;
  padding-top: 15%;
  padding-bottom: 35%;
  background: url(nepal3.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  opacity: 1;
  text-align: center;
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
  color: rgb(0, 0, 0);
  animation-name: example;
  animation-duration: 16s;
  animation-iteration-count: infinite;
}
@keyframes example {
  0% {
    background: url(ani2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 100px;
  }
  25% {
    background: url(nepal4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 100px;
  }
  50% {
    background: url(ani.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 100px;
  }
  100% {
    background: url(nepal3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 100px;
  }
}
@media (max-width: 400px) {
  .nav .animation .footer {
    flex-direction: column;
  }
  /* body {
    background-image: linear-gradient(rgb(81, 29, 29),rgb(236, 236, 248));
    color: rgb(255, 255, 255);
    text-align: center;
    object-fit: cover;
    flex-direction: column;
  }
 .li a{
  float: none;
  width:100%;
  flex-direction: column;
 } 
 footer{
  width: fit-content;
 }

span{
  width: fit-content;
  flex-direction: column;
} */
}

.animation h1 {
  font-family: "Montserrat Medium";
  max-width: 40ch;
  text-align: center;
  transform: scale(0.94);
  animation: scale 10s forwards cubic-bezier(0.5, 1, 0.89, 1);
  text-shadow: 1px 1px 2px rgb(130, 131, 129), 0 0 25px rgb(255, 240, 240),
    0 0 5px rgb(255, 253, 253);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
.animation h1 {
  display: inline;
}
.animation p {
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(254, 254, 254),
    0 0 5px rgb(255, 255, 255);
}
.footer {
  background-color: #24262b;
  padding-top: 10px;
  margin: 0;
  text-align: center;
  padding-bottom: 1px;
}

.footer p {
  color: white;
}
.footer h4 {
  color: #9800a9;
}
.footer a {
  color: #ccd0e0;
}
.footer ul {
  background-color: #24262b;
  padding-left: 5px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 10%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 1px 16px;
}
