
ul {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    padding-right: 20px;
    margin-top: none;
    overflow: hidden;
    background-color:#61331e;
    ;
   }
  
  
  .li h1{
    margin-top: 6px;
    float: left;
    margin-left: 5px;
    size: 200px;
    font-style: italic;
    font-family: 'Dancing Script', 'cursive';;
    color: #dfdfdf;
  }
  
  .li li {
    float: right;
  }
  
  .li a {
    display: block;
    color: #f6f6f8;
    text-align: center;
    padding: 15px 40px;
    text-decoration: none;
  }
  
  li a:hover {
  background-color: #000000;
  opacity: 0.4s;
  border-radius: 7px;
  color: rgb(251, 29, 218);
  font-size: 17px;
  padding-right: 45px;
  }
  li a::after{
    background-color: #f8f4f4;
    opacity: 0.5;
  }
  body{
    margin: 0;
    background-color: #a37254;
  }
  h1 {
    font-family: "Montserrat Medium";
    max-width: 40ch;
    text-align: center;
    transform: scale(0.94);
    animation: scale 10s forwards cubic-bezier(0.5, 1, 0.89, 1);
    
  }
  
@keyframes scale {
  100% {
    transform: scale(1);
  }}
  
  .footer{
    background-color: #24262b;
    padding-top:10px;
    margin: 0;
    text-align: center;
    padding-bottom: 1px;
    margin-top: 10%;
  }
  .footer p{
    color: white;
  }
  .footer h4{
    color: #9800a9;
  }
  .footer a{
    color: #CCD0E0;
  }
  .footer ul {
    background-color:#24262b ;
    padding-left: 15px;
  }
  .hotel{
    border: 2px solid rgb(0, 0, 0);
    background-color: #a37254;
    
  }
  .hotel:hover{
    border: 3px solid rgb(255, 255, 255);  
  }
  .hotel img{
    float: left;
    margin-top: 30px;
    
  }
 .hotel h2{
    margin-left: 14%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .hotel p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    margin-left: 14%;
 }
 .mainimage{
 background: url(mainhotel.jpg);
 height: 535px;
 
 }
 .topdecoration{
    padding: 11% 30%;
    background-color: #000000;
    opacity: 0.7;
 }
 .mainwriting h1{
    color: #ffffff;
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
 }
 .hotels{
    margin-top: 6%;
    margin-bottom: 5%;
 }

  